/* color palette: https://coolors.co/223843-eff1f3-dbd3d8-d8b4a0-d77a61
  https://coolors.co/134611-3e8914-3da35d-96e072-e8fccf
*/
html,
body,
#root {
  height: 100%;
}

body {
  background-color: #eff1f3;
}

.datePicker input {
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #ccc;
  font-size: 16px;
  min-width: 200px;
}
